//tokens

$dark:#111;
$light:#f0f0f0;
$azul:#204f8c;
$marinho:#1f2540;
$amarelo:#eabc02;
$laranja:#e8620d;   
$verde:#096b4e;
$floresta:#192517;


$branco:#FFF;
$cinza-50:$light;
$cinza-100:darken($light, 10%);
$cinza-200:darken($light, 20%);
$cinza-300:darken($light, 30%);
$cinza-400:darken($light, 40%);
$cinza-500:lighten($dark, 40%);
$cinza-600:lighten($dark, 30%);
$cinza-700:lighten($dark, 20%);
$cinza-800:lighten($dark, 10%);
$cinza-900:$dark;
$preto:#000;



$azul-100: lighten($azul, 80%) !default;
$azul-200: lighten($azul, 60%) !default;
$azul-300: lighten($azul, 40%) !default;
$azul-400: lighten($azul, 20%) !default;
$azul-500: $azul !default;
$azul-600: darken($azul, 20%) !default;
$azul-700: darken($azul, 40%) !default;
$azul-800: darken($azul, 60%) !default;
$azul-900: darken($azul, 80%) !default;


:root{   
  --primary-200:#de7f05;
  --primary-300:#d56f03; 
  --primary:#d05f00;
  --primary-500:#cd5200;
  --primary-600:#ad4001;
  --secondary-200:#f3d05d;
  --secondary-300:#e6bc1a;
  --secondary:#e8b110;
  --secondary-500:#e19401;
  --secondary-600:#e49713;


  --accent: #{$azul};


  --cinza-50: #{$cinza-50};
  --cinza-100:#{$cinza-100};
  --cinza-200:#{$cinza-200};
  --cinza-300:#{$cinza-300};
  --cinza-400:#{$cinza-400};
  --cinza-500:#{$cinza-500};
  --cinza-600:#{$cinza-600};
  --cinza-700:#{$cinza-700};
  --cinza-800:#{$cinza-800};
  --cinza-900:#{$cinza-900};


  --sombra:#3a3a3a0d;
  --transparente:rgba(0,0,0,0);
}



$primary-200:$cinza-600;
$primary-300:$cinza-700;
$primary:$dark;
$primary-500:$cinza-900;
$primary-600:$preto;

$secondary-200:$branco;
$secondary-300:$cinza-100;
$secondary:$light;
$secondary-500:$cinza-200;
$secondary-600:$cinza-300;
// $tertiary:;
$accent: var(--accent);
// $success:;
// $info:;
// $warning:;
// $danger:;

$sombra:var(--sombra);;