//tokens

$dark:#111;
$light:#f0f0f0;
$azul:#204f8c;
$marinho:#1f2540;
$amarelo:#eabc02;
$laranja:#e8620d;   
$verde:#096b4e;
$floresta:#192517;
$vermelho:#8f2d2d;
$vinho:#3b1313;


$branco:#FFF;
$cinza-50:$light;
$cinza-100:darken($light, 10%);
$cinza-200:darken($light, 20%);
$cinza-300:darken($light, 30%);
$cinza-400:darken($light, 40%);
$cinza-500:lighten($dark, 40%);
$cinza-600:lighten($dark, 30%);
$cinza-700:lighten($dark, 20%);
$cinza-800:lighten($dark, 10%);
$cinza-900:$dark;
$preto:#000;



$azul-100: lighten($azul, 30%) !default;
$azul-200: lighten($azul, 20%) !default;
$azul-300: lighten($azul, 15%) !default;
$azul-400: lighten($azul, 10%) !default;
$azul-500: $azul !default;
$azul-600: darken($azul, 10%) !default;
$azul-700: darken($azul, 15%) !default;
$azul-800: darken($azul, 20%) !default;
$azul-900: darken($azul, 30%) !default;

$amarelo-100: lighten($amarelo, 30%) !default;
$amarelo-200: lighten($amarelo, 20%) !default;
$amarelo-300: lighten($amarelo, 15%) !default;
$amarelo-400: lighten($amarelo, 10%) !default;
$amarelo-500: $amarelo !default;
$amarelo-600: darken($amarelo, 10%) !default;
$amarelo-700: darken($amarelo, 15%) !default;
$amarelo-800: darken($amarelo, 30%) !default;
$amarelo-900: darken($amarelo, 30%) !default;


:root{   
  --primary-300:#{$azul-300};
  --primary-400:#{$azul-400}; 
  --primary:#{$azul-500};
  --primary-600:#{$azul-600};
  --primary-700:#{$azul-700};
  --secondary-300:#{$amarelo-300};
  --secondary-400:#{$amarelo-400}; 
  --secondary:#{$amarelo-500};
  --secondary-600:#{$amarelo-600};
  --secondary-700:#{$amarelo-700};


  --accent: #{$vermelho};


  --cinza-50: #{$cinza-50};
  --cinza-100:#{$cinza-100};
  --cinza-200:#{$cinza-200};
  --cinza-300:#{$cinza-300};
  --cinza-400:#{$cinza-400};
  --cinza-500:#{$cinza-500};
  --cinza-600:#{$cinza-600};
  --cinza-700:#{$cinza-700};
  --cinza-800:#{$cinza-800};
  --cinza-900:#{$cinza-900};


  --sombra:#3a3a3a0d;
  --transparente:rgba(0,0,0,0);
}



$primary-300:var(--primary-300);
$primary-400:var(--primary-400);
$primary:var(--primary);
$primary-600:var(--primary-600);
$primary-700:var(--primary-700);

$secondary-300:var(--secondary-300);
$secondary-400:var(--secondary-400);
$secondary:var(--secondary);
$secondary-600:var(--secondary-600);
$secondary-700:var(--secondary-700);
// $tertiary:;
$accent: var(--accent);
// $success:;
// $info:;
// $warning:;
// $danger:;

$sombra:var(--sombra);;