@import '../../scss/colors.scss';
@import '../../scss/styles.css';


:root{
    --bs-link-color: var(--primary);
    --primary: #{$vermelho};
}
body{
    color: $dark;
}
.nav{
    flex-wrap: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar { 
        display: none;
    }

    &-item{
        //flex: 0 0 30%;
        min-width: 30%;
    }
    &-link{
        width: 100%;
    }

    &-pills{
        --bs-nav-pills-link-active-bg:var(--primary);
    }
}

p{
    margin: 0;
}
i{
    color: $primary;
    font-style: normal;
}
.title{
    font-weight: 800;
    color: $primary;
}
.rec { 
    text-indent:1em 
}

