@import '../../scss/colors.scss';
@import '../../scss/styles.css';


:root{
    --bs-link-color: $primary;
    --bs-link-hover-color: $primary;
    --primary: #{$vermelho};
}
body{
    color: $dark;
}
.nav{
    flex-wrap: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar { 
        display: none;
    }

    &-item{
        //flex: 0 0 30%;
        min-width: 35%;
        margin-inline: .5rem;
    }
    &-link{
        width: 100%;
        border: 1px solid $branco;
        &:hover{
            border-color: $primary;
        }
        &:active{
            border-color: $primary;
        }
    }

    &-pills{
        --bs-nav-pills-link-active-bg:var(--primary);
    }
}

.smaller{
    font-size: .6rem;
}

p{
    margin: 0;
}
i{
    color: $primary;
    font-style: normal;
}
.title{
    font-weight: 800;
    color: $primary;
}
.rec { 
    text-indent:1em 
}

